<h1> Edit Employee </h1>

<h1> Create an Employee </h1>
<p><%= form_for @employee do |f| %>
<p><%= f.label :first_name %>
<%= f.text_field :first_name %>
<p><%= f.label :last_name %>
<%= f.text_field :last_name %>
<p><%= f.label :alias %>
<%= f.text_field :alias %>
<p><%= f.label :title %>
<%= f.text_field :title %>
<p><%= f.label :office %>
<%= f.text_field :office %>

<p> Dog: <%= f.collection_select :dog_id, Dog.all, :id, :name %>


<%= f.submit %>
<% end %>
