<h1> Show Employee </h1>

<p> <%= @employee.first_name %> </p>
<p> <%= @employee.last_name %> </p>
<p> <%= @employee.alias %> </p>
<p> <%= @employee.title %> </p>
<p> <%= @employee.office %> </p>


<%= link_to "Go back", employees_path %>
